.sub {
	width: 100%;
	height: 894px;
	padding-top: 80px;
	text-align: center;
	background-position: bottom;
	background-image: image-set(url("./images/feature.webp") 1x,
			url("./images/feature@2x.webp") 2x);
	background-repeat: no-repeat;
	background-size: cover;
}

.sub_text {
	font-weight: 600;
	font-size: 86px;
	line-height: 140%;
	margin-bottom: 24px;
	color: var(--white-color);
}

.sub_price {
	font-size: 24px;
	margin-bottom: 24px;
	color: var(--white-color);
}

.sub_btn {
	position: relative;
	font-size: 16px;
	text-align: center;
	color: var(--black-color);
	border-radius: 24px;
	padding: 10px;
	width: 132px;
	height: 44px;
	background-color: var(--background-color);
	transition: all 190ms ease-in;
}

.sub_btn:hover {
	color: var(--white-color);
	background: var(--accent-color);
}

.sub_btn:active {
	top: 2px;
}