@media (max-width: 768px) {
	.sub {
		background-image: image-set(url("./images/feature_mobile.webp") 1x,
				url("./images/feature_mobile@2x.webp") 2x);
		background-position: center;
		background-size: cover;
		height: 800px;
	}
}

@media (max-width: 590px) {
	.sub {
		padding-top: 42px;
	}

	.sub_text {
		font-size: 60px;
	}
}

@media (max-width: 420px) {
	.sub_text {
		font-size: 42px;
	}

	.sub_price {
		font-size: 18px;
	}
}