@media (max-width: 1200px) {
	.models {
		padding: 80px 24px;
	}
}

@media (max-width: 900px) {
	.models_block {
		border-radius: 24px;
		padding: 24px 8px;
		gap: 0;
		background-color: var(--white-color);
	}

	.models_card {
		padding: 0;
		border-radius: 0;
	}

	.models_img_block {
		padding: 0;
		border-radius: 0;
		background-color: var(--white-color);

		img {
			width: 150px;
			height: 150px;
		}
	}

	.compare_text {
		padding: 12px 0;
	}
}

@media (max-width: 768px) {
	.models_img_title {
		font-size: 24px;
	}

	.models_price {
		font-size: 18px;
	}

	.compare_text {
		height: 80px;
		font-size: 18px;
	}
}

@media (max-width: 590px) {
	.models {
		padding: 42px 24px;
	}

	.models_title {
		font-size: 42px;
	}

	.models_text {
		font-size: 18px;
	}

	.models_price {
		font-size: 16px;
	}

	.compare_text {
		height: 100px;
		font-size: 16px;
	}
}

@media (max-width: 420px) {
	.models_img_title {
		height: 60px;
		font-size: 20px;
	}

	.models_btn {
		font-size: 14px;
		padding: 10px;
	}

	.compare_text {
		height: 100px;
		font-size: 16px;
	}
}