.header {
	position: relative;
	z-index: 5;
	padding: 24px;
	background-color: transparent;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__list {
	display: flex;
	gap: 16px;
}

.nav_link {
	position: relative;
	font-size: 16px;
	text-align: center;
	border-radius: 24px;
	padding: 10px 32px;
	color: var(--black-color);
	background-color: transparent;
	transition: all 190ms ease-in;
}

.nav_link:hover,
.nav_link:focus {
	color: var(--white-color);
	background-color: var(--accent-color);
}

.nav_link:active {
	top: 2px;
}

.nav__icon {
	display: none;
}

/* Nav Icon */
.mobile-nav-btn {
	--time: 0.1s;

	--width: 22px;
	--height: 22px;

	--line-height: 2px;
	--spacing: 6px;

	--color: #52483E;
	--radius: 4px;

	height: calc(var(--line-height) * 3 + var(--spacing) * 2);
	width: var(--width);

	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 999;
}

.nav-icon {
	position: relative;
	width: var(--width);
	height: var(--line-height);
	background-color: var(--color);
	border-radius: var(--radius);
}

.nav-icon::before,
.nav-icon::after {
	content: '';
	display: block;

	position: absolute;
	left: 0;

	width: var(--width);
	height: var(--line-height);

	border-radius: var(--radius);
	background-color: var(--color);
	transition: transform var(--time) ease-in,
		top var(--time) linear var(--time);
}

.nav-icon::before {
	top: calc(-1 * (var(--line-height) + var(--spacing)));
}

.nav-icon::after {
	top: calc(var(--line-height) + var(--spacing));
}

.nav-icon.nav-icon--active {
	background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
	top: 0;
	transition: top var(--time) linear,
		transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
	transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
	transform: rotate(-45deg);
}

/* Mobile Nav */
.mobile-nav {
	position: fixed;
	top: -100%;
	width: 100%;
	height: 100%;
	z-index: 4;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background: #dddddd;
	transition: all 0.2s ease-in;
}

.mobile-nav--open {
	top: 0;
}

.mobile-nav a {
	position: relative;
	color: var(--text-color);
	transition: all 190ms ease-in;
}

.mobile-nav a:hover {
	color: var(--accent-color);
}

.mobile-nav__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	font-size: 28px;
}