@media (max-width: 900px) {
	.slider_carousel {
		height: 420px;
	}

	.card-container {
		width: 50%;
	}
}

@media (max-width: 768px) {
	.slider_carousel {
		height: 320px;
	}
}

@media (max-width: 590px) {
	.carousel {
		padding: 42px 0;
	}

	.carousel_title {
		font-size: 42px;
	}

	.carousel_text {
		font-size: 18px;
	}

	.slider_carousel {
		height: 560px;
	}

	.card-container {
		width: 100%;
	}

	.dot {
		width: 32px;
		height: 32px;
	}

	.color_text {
		font-size: 18px;
	}
}

@media (max-width: 420px) {
	.slider_carousel {
		height: 400px;
	}
}