@media (max-width: 1200px) {
	.personalize-slide {
		width: 30vw;
	}
}

@media (max-width: 900px) {
	.personalize-slide {
		width: 50vw;
	}
}

@media (max-width: 768px) {
	.personalize-slide {
		width: 70vw;
	}
}

@media (max-width: 590px) {
	.personalize {
		padding: 42px 0 80px 24px;
	}

	.personalize_title {
		font-size: 42px;
	}

	.personalize_text {
		font-size: 18px;
	}

	.personalize-slide {
		width: 80vw;
	}
}