.personalize {
	padding: 80px 0 160px 80px;
	text-align: center;
}

.personalize_title {
	font-weight: 600;
	font-size: 56px;
	text-transform: capitalize;
	margin-bottom: 16px;
	color: var(--accent-color);
}

.personalize_text {
	font-size: 24px;
	margin-bottom: 80px;
}

.personalize-slider {
	position: relative;
	max-width: 100%;
	overflow: hidden;
}

.personalize-track {
	display: flex;
	gap: 16px;
	overflow-x: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	user-select: none;
	-webkit-overflow-scrolling: touch;
}

.personalize-track.grabbing {
	cursor: grabbing;
}

.personalize-track::-webkit-scrollbar {
	display: none;
}

.personalize-track {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.personalize-slide {
	width: 33%;
	height: auto;
	flex: 0 0 auto;
	border-radius: 24px;
	scroll-snap-align: start;
	border-radius: 16px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: grab;
}

.personalize-slide .personalize-card {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.personalize-slide img {
	width: 100%;
	/* height: auto;
	object-fit: cover;
	display: block; */
	transition: transform 0.3s ease;
}

.personalize-slide:hover img {
	transform: scale(1.03);
}