@media (max-width: 768px) {
	.footer_sub {
		display: block;
		padding: 24px;
	}

	.footer_logo {
		display: none;
	}

	.sicial_block {
		justify-content: space-between;
	}
}

@media (max-width: 590px) {
	.footer {
		padding: 42px 24px 16px;
	}

	.footer_text {
		font-size: 18px;
	}

	.footer_btn {
		padding: 10px;
	}

	.footer_sub {
		padding: 0;
	}

	.sicial_block {
		display: grid;
		justify-content: center;
		justify-items: center;
	}

	.copyright {
		line-height: 160%;
		padding-top: 20px;
	}
}
