.footer {
	padding-top: 80px;
	text-align: center;
	background: linear-gradient(180deg, #f5f5f5 0%, #d2cdc6 100%);
}

.footer_title {
	font-weight: 600;
	font-size: 42px;
	text-transform: capitalize;
	margin-bottom: 16px;
	color: var(--accent-color);
}

.footer_text {
	font-size: 20px;
	margin-bottom: 32px;
}

.footer_buttons {
	display: flex;
	gap: 16px;
	justify-content: center;
	margin-bottom: 42px;
}

.footer_btn {
	position: relative;
	font-size: 16px;
	text-align: center;
	border-radius: 24px;
	padding: 10px 32px;
	width: 144px;
	color: var(--black-color);
	background: var(--background-color);
	transition: all 190ms ease-in;
}

.footer_btn:hover {
	color: var(--white-color);
	background: var(--accent-color);
}

.footer_btn:active {
	top: 2px;
}

.footer_sub {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid var(--text-color);
	padding: 28px 80px;
}

.sicial_block {
	display: flex;
	align-items: center;
	gap: 16px;
}

.footer_socials {
	display: flex;
	align-items: center;
	gap: 16px;
}

.copyright {
	font-size: 16px;
	line-height: 312%;
	color: var(--accent-color);
}