.features {
	padding: 80px 0 80px 80px;
}

.features-slider {
	position: relative;
	max-width: 100%;
	overflow: hidden;
}

.features-track {
	display: flex;
	gap: 16px;
	overflow-x: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	user-select: none;
	cursor: grab;
	-webkit-overflow-scrolling: touch;
}

.features-track.grabbing {
	cursor: grabbing;
}

.features-track::-webkit-scrollbar {
	display: none;
}

.features-track {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.features-slide {
	width: 1080px;
	height: 480px;
	flex: 0 0 auto;
	border-radius: 24px;
	scroll-snap-align: start;
	border-radius: 16px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(180deg, #d2cdc6 0%, #f8bf93 100%);
}

.features-slide.two {
	background: linear-gradient(180deg, #ffc77a 0%, #ecc0a0 100%);
}

.features-slide .features-card {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.features-slide p {
	font-weight: 500;
	font-size: 32px;
	line-height: 131%;
	padding: 0 80px;
	color: var(--dark-color);
	transition: transform 0.3s ease;
}

.features-slide:hover p {
	transform: scale(1.03);
}

.features-slide img {
	/* width: 100%;
	height: 100%;
	object-fit: cover;
	display: block; */
	transition: transform 0.3s ease;
}

.features-slide:hover img {
	transform: scale(1.03);
}